# Virtual environments
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3

# VSCode / PyCharm settings (optional)
.vscode/
.idea/

cached_export.json
normal_export.json
comparison.txt