services:
  - type: web
    name: lakbayan-backend
    runtime: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate --noinput
    startCommand: gunicorn lakbayan.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DATABASE_URL
        sync: false   # set manually in Render dashboard with Neon URL
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "lakbayan-backend.onrender.com,127.0.0.1,localhost"
      - key: EMAIL_HOST_USER
        value: "lakbayan.team@gmail.com"
      - key: EMAIL_HOST_PASSWORD
        value: "fhan txrf ofuf xjqu"
      - key: FRONTEND_URL
        value: "http://localhost:3000"  # Update later when frontend is deployed
      - key: CORS_ALLOWED_ORIGINS
        value: "http://localhost:3000"  # Update later with Vercel domain
